ion-calendar {

  font-family: "Avenir Next", sans-serif;

  .display-month {
    padding: 15px 15px 5px 15px;
    font-family: AvenirNext-Bold;
    font-size: 18px;
    color: white;
    letter-spacing: 0;
    text-transform: capitalize;
  }

  .display-year {
    font-family: AvenirNext-Bold;
    font-size: 11px;
    color: white;
    letter-spacing: 0;
    padding: 0 15px 5px 15px;
  }

  .center {
    text-align: center;
  }

  .calendar-header-col {
    font-size: 1rem;
    color: #666;
  }

  .calendar-row {
    .calendar-col {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      border-radius: 50%;
      margin: 2px;
      padding: 9px;
      background-color: rgba(57, 181, 250, 0.1);
    }
    .not-this-month {
      color: transparent;
      background: transparent;
    }
    .today {
      color: white;
      border-radius: 50%;
      background: #39B5FA;
    }
    .eventBlip {
      background: #46b592;
      width: 6.5px;
      height: 6.5px;
      display: inline-block;
      border-radius: 6.5px;
      position: absolute;
      top: 3.5px;
      right: 3.5px;
    }
    .select {
      box-shadow: none;
      color: white;
      border-radius: 50%;
      background-color: rgba(57, 181, 250, 0.3);
    }
  }
}
