<ion-grid>
    <ion-row justify-content-center>
        <ion-col col-lg-12 class="display-month">
            {{displayMonth + 1}}
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-lg-12 class="display-year">
            {{displayYear}}
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col text-center class="calendar-header-col" *ngFor="let head of weekHead">{{head}}</ion-col>
    </ion-row>

    <ion-row class="calendar-row" *ngFor="let week of weekArray;let i = index">
        <ion-col text-center class="calendar-col" (click)="daySelect(day,i,j)" *ngFor="let day of week; let j = index"
                 [ngClass]="[day.isThisMonth?'this-month':'not-this-month',day.isToday?'today':'',day.isSelect?'select':'']">
            {{day.date}}
            <span class="eventBlip" *ngIf="day.hasEvent"></span>
        </ion-col>
    </ion-row>

</ion-grid>
